@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.react-pdf__Page__canvas {
  @apply mx-auto border border-gray-300/40 shadow;
}

.markdown-body ul {
  @apply list-disc;
}
.markdown-body ol {
  @apply list-decimal;
}
pre[class*='language-'],
code[class*='language-'] {
  @apply font-mono !important;
}
/* Personalización de columnas */
.file-list-row {
  display: grid;
  grid-template-columns: minmax(200px, 60%) 20% 15% 5%;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

/* Para móviles */
@media (max-width: 768px) {
  .file-list-row {
    grid-template-columns: 1fr;
  }
}
